.signInContainer {
  display: flex;
  align-items: center;
  padding-right: 7.5%;
}
.loginBtn {
  width: 200px;
  height: 35px;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  .max-width-wrapper {
      width: 100%;
      max-width: 85%;
      margin-left: auto;
      margin-right: auto;
  }
  .item {
      max-height: 100vh;
      img {
          width: auto !important;
          // max-width: 100% !important;
          // height: 90vh !important;
      }
  }
  .container {
      padding: 0 !important;
      margin: 0 !important;
      max-width: 100% !important;
      width: 100% !important;
  }
.element {
    margin-top: 70px;
    padding: 0px 200px;
    font-size: 50px;
    font-family: big-noodle;
    display: flex;
    justify-content: center;
    color: #ff9554;
    height: 10vh;
    text-align:center;
}
.yahooComponent {
    display: flex;
    justify-content: center;
}
.about-us-wrapper {
    height: 40vh;
    width: 100%;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
        .three-icon-container {
            width: 100%;
            height: 80%;
            padding-left: 10%;
            padding-right: 10%;
            display: flex;
            background-color: gainsboro;
            flex-direction: row;
            .icon-wrapper {
                width: 33%;
                height: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                .icon-container {
                    height: 45%;
                    width: 40%;
                    display: flex;
                    justify-content: space-around;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 35px;
                    padding-left: 2.75%;
                    img{
                      width: 128px;
                      height: 128px;
                    }
                }
            .icon-text {
                font-family: 'PT Sans', sans-serif;
                font-size: 16px;
                height: 40%;
                width: 100%;
                padding: 20px;
                text-align: center;
            }
            }
        }
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
