$grain: #D7CEC7;
$blackBoard: #565656;
$oxblood: #76323F;
$tan: #C09F80;
$menuFont: 'Open Sans', sans-serif;
*, *:before, *:after {
    box-sizing: border-box;
}
a {
    transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
    color: $grain;
    letter-spacing: .75px;
    text-decoration: none;
}
.header {
    width: 100%;
    height: 70px;
    background-color: #fff;
    position: relative;
    z-index: 101;
}
.no-scroll {
    overflow: hidden;
}
html, body {
    height: 100%;
}
.container {
    max-width: 740px;
    margin: 0 auto;
    padding: 15%;
}
/* Nav */
.wrapper, .wrapper-overlay, nav, .navicon {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.wrapper {
    min-height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    background-color: $grain;
}
.wrapper.active {
    left: 300px;
    cursor: pointer;
}
.wrapper-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(180, 180, 180, 0.9);
    visibility: hidden;
    z-index: 4;
    opacity: 0;
}
.wrapper-overlay.active {
    visibility: visible;
    opacity: 1;
    left: 300px;
}
.wrapper-overlay.active:hover {
    background-color: rgba(180, 180, 180, 0.75);
}
nav {
    z-index: 1;
    position: fixed;
    background: #1D1D1F;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
nav h3 {
    font-style: italic;
    color: #fff;
    opacity: 0.5;
    font-size: 80%;
    padding: 5px 25px 10px;
}
nav ul {
    padding: 0;
}
nav ul:not(:last-child) {
    margin-bottom: 2rem;
}
nav li {
    display: block;
}
nav a {
    padding: 10px 45px;
    display: block;
    text-decoration: none;
    opacity: .8;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
    color: $grain;
    letter-spacing: .75px;
}
nav a:hover {
    padding-left: 50px;
    color: #9c9c9c;
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: none;
}
// nav li:not(:last-child) {
    // border-bottom: 1px solid $blackBoard;
// }
.nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    padding: 20px 0;
    overflow: none;
    border: none;
    margin-bottom: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.menu-header {
    font-size: 26px;
    font-family: $menuFont;
    color: #fff;
}
/* Navicon */
.navicon {
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;
    cursor: pointer;
    z-index: 999;
}
.navicon.active {
    left: 300px;
}
.navicon:hover .toggle span {
    background-color: #777;
}
.navicon .toggle {
    display: block;
    float: left;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.navicon .toggle span {
    width: 16px;
    height: 3px;
    background: #aaa;
    display: block;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.navicon .toggle span:not(:last-child) {
    margin-bottom: 2px;
}
.navicon.active .toggle {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}
.navicon.active .toggle .t1 {
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px)
}
.navicon.active .toggle .t2 {
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
}
.navicon.active .toggle .t3 {
    -webkit-transform: rotate(-90deg) translateX(4px);
    -ms-transform: rotate(-90deg) translateX(4px);
    transform: rotate(-90deg) translateX(4px)
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
.element {
    margin-top: 25px;
    padding: 0px 200px;
    font-size: 50px;
    font-family: impact;
    display: flex;
    justify-content: center;
    color: $oxblood;
    height: 10vh;
}
.yahooComponent {
    display: flex;
    justify-content: center;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
