<!--<span class="element"></span>     -->
<div class="container">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">

        <img src="../styles/images/wall-street-night.jpg" alt="Chania" width="460" height="345">
      </div>

      <div class="item">
        <img src="../styles/images/wall-street.jpg" alt="Chania" width="460" height="345">
      </div>

      <div class="item">
        <img src="../styles/images/bull.jpg" alt="Flower" width="460" height="345">
      </div>

      <div class="item">
        <img src="../styles/images/nyse.jpg" alt="Flower" width="460" height="345">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div class="about-us-wrapper">
    <div class="three-icon-container">
        <div class="icon-wrapper">
            <div class='icon-container'><img src="../styles/images/document-dollar-128.png"/></div>
            <span class='icon-text'>Stocks from every public company which updates in real-time</span>
        </div>
        <div class="icon-wrapper">
            <div class="icon-container"><img src="../styles/images/graphs.png"/></div>
            <span class='icon-text'>Our interactive graphs allow you to get specific open/close stock data</span>
        </div>
        <div class="icon-wrapper">
            <div class="icon-container"><img src="../styles/images/news.png"/></div>
            <span class='icon-text'>Simply click on any point of a graph to get the news for that specific date as it relates to the company</span>
        </div>
    </div>
</div>
<div class="max-width-wrapper">
<yahoo-component></yahoo-component>
</div>

<script>
$(function(){
  $(".element").typed({
    strings: ["Need real-time stock data?", "Want some hot news?", "Introducing our interactive graph tying the two together", "Try it for yourself"],
    typeSpeed: 0,
    backSpeed: -25,
    backDelay: 1000
  });
});
</script>
