
<div class='home-landing-image'>
  <div class="white-overlay">
  <span class="element"></span>
   <a href="#goToGraph" target="_self" class="btn btn-primary graph-anchor">Test it out</a>
    </div> 
     
</div>    

<div class="about-us-wrapper">
    <div class="three-icon-container">
        <div class="icon-wrapper">
            <div class='icon-container'><img src="../styles/images/document-dollar-128.png"/></div>
            <span class='icon-text'>Stocks from every public company which updates in real-time</span>
        </div>
        <div class="icon-wrapper">
            <div class="icon-container"><img src="../styles/images/graphs.png"/></div>
            <span class='icon-text'>Our interactive graphs allow you to get specific open/close stock data</span>
        </div>
        <div class="icon-wrapper">
            <div class="icon-container"><img src="../styles/images/news.png"/></div>
            <span class='icon-text'>Simply click on any point of a graph to get the news for that specific date as it relates to the company</span>
        </div>
    </div>
</div>
<div class="max-width-wrapper">
    <a name="goToGraph" id="goToGraph"></a>
<yahoo-component></yahoo-component>
</div>

<script>
$(function(){
  $(".element").typed({
    strings: ["Need real-time stock data?", "Want some hot news?", "Introducing our interactive graph tying the two together", "Try it for yourself"],
    typeSpeed: -5,
    backSpeed: -25,
    backDelay: 1500
  });
});
</script>