@import './base/reset.scss';
@import './css/bootstrapSocial.scss';
@import './css/variables.scss';
@import './css/menu.scss';
@import './css/yahooComponent.scss';
@import './css/selectStocksComponent.scss';
@import './css/homeView.scss';

body{
  font-family: "pt sans"
}

.nvd3 .nv-group.nv-series-0 {
     fill: $textColor !important; /* color for area */
     stroke: $textColor !important; /* color for area */
}
.legend-color-guide div {
  background-color: $textColor !important;
}
.nvtooltip table tbody tr {
  background-color: rgba(255,255,255,0.1);

}