<div animation class="header">
    <div class="navicon">
        <div class="toggle">
            <span class="t1"></span>
            <span class="t2"></span>
            <span class="t3"></span>
        </div>
    </div>
    <div ng-show = "loggedIn"class= "profile-container">
        <img style = "width: 50px; height: auto;border-radius: 50px;"class="user-profile-pic" ng-src="{{userPic}}" alt="" />
        <p>Hello, {{firstName}} {{lastName}}</p>
    </div>
    <a ng-show = "!loggedIn" href="/auth/google" class="btn btn-default"><span class="fa fa-user"></span> Sign In with Google</a>
</div>
