<div animation class="header">
    <div class="navicon">
        <div class="toggle">
            <span class="t1"></span>
            <span class="t2"></span>
            <span class="t3"></span>
        </div>
    </div>
    <div ng-show = "loggedIn" class= "profile-container">
      <div class="image-profile-wrapper">
        <img style = "width: 50px; height: auto;border-radius: 50px;" class="user-profile-pic" ng-src="{{userPic}}" alt="" />
      </div>
        <div class="greeting-profile-wrapper">
        <p>Hello, {{firstName}} {{lastName}}</p>
      </div>

    </div>
    <a ng-show = "loggedIn" ng-click="signOut()" class="btn btn-default"><span class="fa fa-user"></span> Sign Out</a>
    <a ng-show = "!loggedIn" href="/auth/google" class="btn btn-default"><span class="fa fa-user"></span> Sign In with Google</a>
</div>
