<nav>
    <div class="nav-wrapper">
        <ul>
            <li style="margin-bottom: 10px;">
                <a class="menu-header" href="#">Menu</a>
            </li>
            <li>
                <a href="#">Trending Stocks</a>
            </li>
            <li>
                <a ui-sref="profile.pref">My Stock</a>
            </li>
            <li>
                <a href="#">About Us</a>
            </li>
            <li>
                <a href="#">Scwifty</a>
            </li>
            <li>
                <a href="https://www.google.com/search?q=austin+walker&espv=2&biw=1278&bih=644&source=lnms&tbm=isch&sa=X&ved=0ahUKEwi7_tfWiIjQAhVCziYKHRAmBloQ_AUICCgD#imgrc=JUisPmFXUhy7PM%3A">Austin Nudes</a>
            </li>
        </ul>
    </div>
</nav>
