<nav>
    <div class="nav-wrapper">
        <ul>
            <li style="margin-bottom: 10px;">
                <a class="menu-header" href="#">Menu</a>
            </li>
            <li>
                <a href="#">Trending Stocks</a>
            </li>
            <li>
                <a href="#">My Stock</a>
            </li>
            <li>
                <a href="#">About Us</a>
            </li>
            <li>
                <a href="#">Scwifty</a>
            </li>
            <li>
                <a href="#">Austin Nudes</a>
            </li>
        </ul>
    </div>
</nav>
