<style>
  tbody tr:nth-child(odd){
    background-color: #404040;
  }
  thead tr th {
    border: none !important;
    padding:none !important;
  }
  tbody tr td {
    border: none !important;
    padding:none !important;
  }
</style>

<div class="container search-box">
  <!-- <div>Soon you wil be able to select your own stocks :) </div> -->
  <!-- <div class="row"> -->
    <h3 style="color: rgba(217,217,217,.7); font-size: 24px; text-align: center;">Find Stocks</h3>
    <input style="width: 300px; margin-right: auto;margin-left: auto;" type="text" placeholder="Search for company stocks..." ng-model="newFavoriteStock">

  <!-- </div> -->
  <div class="select-stocks-container" ng-if="newFavoriteStock.length > 1">
    <table class="table width-container"  style="color: #f9ab7a">
    <thead>
      <tr>
        <th>Company Symbol</th>
        <th>Company Name</th>
      </tr>
    </thead>
    <tbody>
    <tr class="select-stocks-list-container" ng-repeat="stock in all_stocks | filter: newFavoriteStock">
        <td ui-sref="profile.profileStock({stockId: stock.symbol})">
          {{stock.symbol}}
        </td>
        <td ui-sref="profile.profileStock({stockId: stock.symbol})">
          {{stock.name}}
      </td>
      <td>
        <div ng-click="addNewFavorite(stock)" class="myButton">+</div>
      </td>

    </tr>

    <!-- </a> -->
    </tbody>
    </table>
  </div>
</div>
