<div class="container">
  <!-- <div>Soon you wil be able to select your own stocks :) </div> -->
  <!-- <div class="row"> -->
    <input type="text" placeholder="Search..." ng-model="newFavoriteStock">
    <!-- <button type="button" ng-click="addNewFavorite(newFavoriteStock)">Submit</button> -->
  <!-- </div> -->
  <div class="select-stocks-container">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Company Name</th>
      </tr>
    </thead>
    <tbody>
  <!-- <a ng-click="addNewFavorite(stock)" cursor="pointer"> -->
    <tr class="select-stocks-list-container" ng-repeat="stock in all_stocks | filter: newFavoriteStock">


        <td>
          {{stock.symbol}}
        </td>
        <td>
          {{stock.name}}
        </td>
        <td>
          <button ng-click="addNewFavorite(stock)" cursor="pointer">+</button>
        </td>

    </tr>
    <!-- </a> -->
    </tbody>
    </table>
  </div>
</div>
