<div class="container">
  <!-- <div>Soon you wil be able to select your own stocks :) </div> -->
  <!-- <div class="row"> -->
    <input type="text" placeholder="Search..." ng-model="newFavoriteStock">
    <!-- <button type="button" ng-click="addNewFavorite(newFavoriteStock)">Submit</button> -->
  <!-- </div> -->
  <div class="select-stocks-container">
    <div class="select-stocks-list-container" ng-repeat="stock in all_stocks | filter: newFavoriteStock">
      <a ng-click="addNewFavorite(stock)" cursor="pointer">
        <ul class="starred-stocks-list col-md-6" >
          <li class="row">{{stock.symbol}}</li>
        </ul>
        <ul class="col-md-6">
          <li class="row">{{stock.name}}</li>
        </ul>
      </a>
    </div>
  </div>
</div>
