<div class="starred-stocks-container">
  <div class="starred-stocks-list-container" ng-repeat="stock in saved_stocks">
    <a ui-sref="profile.profileStock({stockId: stock.symbol})">
      <ul class="starred-stocks-list col-md-3" >
        <li class="row">{{stock.symbol}}</li>
      </ul>
      <ul class="col-md-3">
        <li class="row">{{stock.name}}</li>
      </ul>
      <ul class="col-md-3">
        <li class="row">{{stock.ask}}</li>
      </ul>
      <ul class="col-md-3">
        <li class="row">{{stock.change}} (in USD$)</li>
      </ul>
    </a>
  </div>
</div>
