<div class="starred-stocks-container">
  <!-- {{saved_stocks}} -->
  {{firstName}}
  {{lastName}}
  {{userPic}}

  <div class="starred-stocks-list-container conatiner" ng-repeat="stock in saved_stocks">
    <ul class="starred-stocks-list col-md-3" >
      <li class="row">{{stock.symbol}}</li>
    </ul>
    <ul class="col-md-3">
      <li class="row">{{stock.name}}</li>
    </ul>
    <ul class="col-md-3">
      <li class="row">{{stock.ask}}</li>
    </ul>
    <ul class="col-md-3">
      <li class="row">{{stock.change}} (in USD$)</li>
    </ul>
  </div>
</div>
