<style>
  tbody tr:nth-child(odd){
    background-color: #404040;
  }
  thead tr th {
    border: none !important;
    padding:none !important;
  }
  tbody tr td {
    border: none !important;
    padding:none !important;
  }
</style>

<div class="starred-stocks-container" id="reload">
  <h3 style="color: rgba(217,217,217,.7)" class="current-watchlist">Your current watchlist: </h3>
  <h1 ng-if="!saved_stocks.length" class="text-center add-stock">Add some stocks to your watchlist!</h1>
  <table class="table" style="color:#f9ab7a" ng-if="saved_stocks.length">
    <thead>
      <tr>
        <th>Company Symbol</th>
        <th>Company Name</th>
        <th>Price</th>
        <th>$ change (today)</th>
      </tr>
    </thead>
    <tbody>
      <tr class="starred-stocks-list-container" ng-repeat="stock in saved_stocks" style="cursor:pointer;">
        <td ui-sref="profile.profileStock({stockId: stock.symbol})">{{stock.symbol}}</td>
        <td ui-sref="profile.profileStock({stockId: stock.symbol})">{{stock.name}}</td>
        <td ui-sref="profile.profileStock({stockId: stock.symbol})">{{stock.ask}}</td>
        <td ui-sref="profile.profileStock({stockId: stock.symbol})">{{stock.change}}</td>
        <td><div class="remove-stock-button myButton" ng-click="removeFavorite(stock.symbol)">X</div></td>
      </tr>
    </tbody>
    </table>
</div>
