<style>
  tbody tr:nth-child(odd){
    background-color: #404040;
  }
  thead tr th {
    border: none !important;
    padding:none !important;
  }
  tbody tr td {
    border: none !important;
    padding:none !important;
  }
</style>
<div class="graph-button-container">
        <button class='graph-btn' ng-click="changeGraph(1)" type="button">Line</button>
        <button class='graph-btn' ng-click="changeGraph(2)" type="button">Candle Stick</button>
        <button class='graph-btn' ng-click="changeGraph(3)" type="button">OHLC</button>
</div>
<div class='graph-container'>
<nvd3 options="options" data="data" config="config" api="api"></nvd3>
<h2 style="color: #ccc; text-align: center;">{{stockSymbol}}-{{stockName}} </h2>
</div>

<div >
  <h3>News for {{stockName}} on {{newsDate}}</h3>
  <table class="table"  style="color: #00CE9E">
    <thead>
      <tr class='news-column-headers'>
        <th class='column-header'>Go!</th>
        <th class='column-header'>Headline</th>
        <th class='column-header'>Snippet</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="article in news">
          <td>
            <a target="_blank" ng-href="{{article.web_url}}">
            <button type="button">
              <span class="glyphicon glyphicon-new-window"></span>
            </button>
          </a>
          </td>
          <td>
            {{article.headline.main}}
          </td>
          <td>
            {{article.snippet}}
          </td>
      </tr>
    </tbody>
  </table>
</div>
