<style>
    tbody tr:nth-child(odd) {
        background-color: #404040;
    }
    thead tr th {
        border: none !important;
        padding: none !important;
    }
    tbody tr td {
        border: none !important;
        padding: none !important;
    }

</style>
<div class="graph-header-container">
    <div class="graph-header-company-name">
        <h1 class="stockHeader">{{stockSymbol}} - {{stockName}}
        </h1>
    </div>
    <div class="graph-button-container">
        <div class="graph-type-buttons">
            <div class="stockchart-nav-dropdown">
                <ul>
                    <li>
                        <a class="chartDropdown">Chart Types<div id="down-triangle"></div>
                        </a>
                        <ul>
                            <li>
                                <a ng-click="changeGraph(1)">Line<div class="circle"></div>
                                </a>
                            </li>
                            <li>
                                <a ng-click="changeGraph(2)">Candle Stick<div class="circle"></div>
                                </a>
                            </li>
                            <li>
                                <a ng-click="changeGraph(3)">OHLC<div class="circle"></div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="graph-range-buttons">
            <button class="graph-range-button" ng-click="setGraphRange(1)" value="1 Mo">1 Mo</button>
            <button class="graph-range-button" ng-click="setGraphRange(3)" value="3 Mo">3 Mo</button>
            <button class="graph-range-button" ng-click="setGraphRange(6)" value="6 Mo">6 Mo</button>
            <button class="graph-range-button" ng-click="setGraphRange(12)" value="12 Mo">12 Mo</button>
            <button class="graph-range-button" ng-click="setGraphRange(24)" value="24 Mo">24 Mo</button>
        </div>
    </div>
</div>
<div class="graph-container">
    <nvd3 options="options" data="data" config="config" api="api" ></nvd3>
    <div style="width: 100%; display: flex; justify-content: center; padding-top: 20px; padding-left: 35px;">
    <a href="/auth/google" ng-show="!loggedIn" ng-show="uiRouterState.current.name == 'home'"><button class=" btn btn-google"type="button" name="button">Sign In To Search More Stocks</button></a>
    </div>
</div>
<div >
    <h3 class="newsTitle">News for
        {{stockName}}
        on
        {{newsDate}}</h3>
    <table class="table" style="color: #f9ab7a">
        <thead>
            <tr>
                <th>Headline</th>
                <th>Snippet</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="article in news" style="cursor:pointer;">
                <td>
                  <a target="_blank" ng-href="{{article.web_url}}">
                    {{article.headline.main}}
                  </a>
                </td>
                <td>
                  <a target="_blank" ng-href="{{article.web_url}}">
                    {{article.snippet}}
                  </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
