<style>
  tbody tr:nth-child(odd){
    background-color: #404040;
  }
  thead tr th {
    border: none !important;
    padding:none !important;
  }
  tbody tr td {
    border: none !important;
    padding:none !important;
  }
</style>
<div class="graph-button-container">
  <button class='graph-btn' ng-click="changeGraph(1)" type="button">Line</button>
  <button class='graph-btn' ng-click="changeGraph(2)" type="button">Candle Stick</button>
  <button class='graph-btn' ng-click="changeGraph(3)" type="button">OHLC</button>
  <select class="graph-date-selector" name="">
    <option value="24 Mo">24 Mo</option>
    <option value="12 Mo">12 Mo</option>
    <option value="6 Mo">6 Mo</option>
    <option value="3 Mo">3 Mo</option>
    <option value="1 Mo">1 Mo</option>
  </select>
</div>
<div class='graph-container'>
<nvd3 options="options" data="data" config="config" api="api"></nvd3>
</div>
<h2 style="color: #00CE9E">{{stockSymbol}}-{{stockName}} </h2>
<div >
  <h3>News for {{stockName}} on {{newsDate}}</h3>
  <table class="table"  style="color: #00CE9E">
    <thead>
      <tr>
        <th>Go!</th>
        <th>Headline</th>
        <th>Snippet</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="article in news">
          <td>
            <a target="_blank" ng-href="{{article.web_url}}">
            <button type="button">
              <span class="glyphicon glyphicon-new-window"></span>
            </button>
          </a>
          </td>
          <td>
            {{article.headline.main}}
          </td>
          <td>
            {{article.snippet}}
          </td>
      </tr>
    </tbody>
  </table>
</div>
